#----------------
# Compiled files
#----------------

# Compiled Object files
**/obj
*.o
*.obj

# Fortran module files
**/mod
*.mod

# Executables
**/bin
*.exe
*.out
*.x
*.xc

#----------------
# Backups
#----------------

# Emacs
*~
\#*#

# Fortran I/O files
fort.?

# Git
*.~*~

# PGI
*.dwf
*.pdb
